<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row">


            <div class="col-12">
                <div class="header row">
                    <div class="col-md-9 col-sm-12">
                        <img alt="Finder" src="//i.imgur.com/YHlSO2T.png" style="max-width: 100% ;
         min-height: 53px ; cursor:pointer" onclick="window.location = '/';" />
                    </div>

                </div>
                <div class="col-sm-12 ">
                    <div class="input-group mb-3">
                        @using (Html.BeginForm("Search", "Service", FormMethod.Post, new { id = "searchForm" }))
                        {
                            <input type="text" class="form-control" id="searchString" name="searchString" placeholder=" Search.." aria-label="" aria-describedby="basic-addon1">
                        }
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" onclick="submitSearch()" type="button">Button</button>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-12">
                <div class="line"> </div>
                <div class="header-bottom">
                    @Html.ActionLink("Hem", "Index", "Home")
                    @Html.ActionLink("Om", "About", "Home")
                </div>
                <div class="line"> </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
